{% extends 'base/base.html'%}
{% block title %}Sign up{% endblock %}
{% block body %}
<div class="w-1/2 my-6 p-6 mx-auto bg-gray-100 ruonded-xl">
    <h1 class="mb-6 text-3xl">Sign up</h1>
    <form method="post" >
    {% csrf_token %}
    {{form.non_field_errors}}
        <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            {{form.username}}
        </div>
        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            {{form.password1}}
        </div>
        <div class="mb-3">
            <label class="inline-block mb-2">Repeat password</label><br>
            {{form.password2}}
        </div>
        <div class="mb-3">
            <label class="inline-block mb-2">Email</label><br>
            {{form.email}}
        </div>
        <button class="py-4 px-8 text-lg bg-grey-500 hover:bg-grey-700 rounded-xl text-white">
            Submit
        </button>
    </form>
</div>
{% endblock %}